<ion-view view-title="{{standorte.name}}">
	<ion-content class="has-header">

		<div class="list card">
			<div class="item item-avatar">
				<img src="img/{{standorte.name}}.jpg">
				<h2>{{standorte.name}}</h2>
				<p>
				{{standorte.adress}}
				{{standorte.plz}}
				{{standorte.city}}
				</p>
			</div>
			<div class="item item-body">
				<p>
					{{standorte.description}}
					<ui-gmap-google-map center='map.center' zoom='map.zoom'>
						<ui-gmap-marker coords="{ latitude: 47.779737, longitude: 9.613558 }" idKey = 1></ui-gmap-marker>
					</ui-gmap-google-map>
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>
