<!-- Anzeige der einzelnen Standorte der DHBW Ravensburg -->

<ion-view view-title="{{standorte.name}}" ng-Controller="MapCtrl">
	<ion-content class="has-header">
		<ion-list>
			<div class="card" >
				<div class="item item-avatar">
					<img src="http://46.101.160.142{{standorte.image.photo.url}}">
					<h2>{{standorte.name}}</h2>
					<p>
					{{standorte.adess}}
					{{standorte.plz}}
					{{standorte.city}}
					</p>
				</div>
				<div class="item item-body">
					<p>
						{{standorte.description}}
						<!-- Einbinden der Google Maps API -->
					</p>
					<div class="box">
						<map on-create="mapCreated(map)"  ng-init="setMarker(standorte)" ></map>
					</div>
					<a ng-click="openMapCampus()" class="button button-icon icon ion-navigate bar-stable" style="width:100%;border-color:#ddd">Navigieren</a>
				</div>
			</div>
		</ion-list>
	</ion-content>
</ion-view>
