<!-- Anzeige aller Freizeitangebote unterteilt in Tabs -->
<ion-view view-title="Freizeitangebot">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<!-- Anlegen von Tabs zur Anzeige von Sport oder Unterhaltungs Angeboten -->
	<ion-tabs class="tabs-striped tabs-background-dark tabs-color-light">

		<ion-tab title="Sport">
				<!-- Bug beim Rendern behoben durch Einfügen der nav-buttons in tabs -->
			<ion-nav-buttons side="left"></ion-nav-buttons>
			<ion-content class="has-header">
				<ion-refresher
					pulling-text="Loslassen zum aktualisieren"
					spinner="spiral"
					on-refresh="swipeDown()">
				</ion-refresher>
				<div class="list">
					<a class="item" href="#/app/fangebot/{{activity.id}}" ng-repeat="activity in sportFangebot | orderBy: 'title'">
						<h3>{{activity.title}}</h3>
					</a>
				</div>

			</ion-content>
		</ion-tab>

		<ion-tab title="Unterhaltung">
				<!-- Bug beim Rendern behoben durch Einfügen der nav-buttons in tabs -->
			<ion-nav-buttons side="left"></ion-nav-buttons>
			<ion-content class="has-header">
				<ion-refresher
					pulling-text="Loslassen zum aktualisieren"
					spinner="spiral"
					on-refresh="swipeDown()">
				</ion-refresher>
				<div class="list">
					<a class="item" href="#/app/fangebot/{{activity.id}}" ng-repeat="activity in unterhaltungFangebot">
						<h3>{{activity.title}}</h3>
					</a>
				</div>

			</ion-content>
		</ion-tab>

	</ion-tabs>

</ion-view>
