<ion-view view-title="Impressum">
  <!-- Anzeige des Back Buttons in der Navigationsleiste -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content style="padding: 5%;">
    <b>Herausgeber:</b><br><br>

    Allgemeiner Studierendenausschuss (AStA) der Dualen Hochschule Baden-Württemberg<br><br>

    Gesetzlich vertreten durch die AStA-Vorsitzende Frau Alexandra Klein<br><br>

    Friedrichstraße 14<br>
    70174 Stuttgart<br><br>

    Telefon: 0711 / 320 660-42<br>
    Telefax 0711 / 320 660-66<br><br>

    E-Mail: asta(at)dhbw.de<br><br>

    Die Verfasste Studierendenschaft der Dualen Hochschule Baden-Württemberg ist eine rechtsfähige Gliedkörperschaft öffentlichen Rechts. Der AStA ist als Exekutivorgan vertretungsberechtigt.<br><br>

    Zuständige Aufsichtsbehörde:<br>
    Duale Hochschule Baden-Württemberg<br>
    Gesetzlich vertreten durch den Präsidenten der Dualen Hochschule<br>
    Baden-Württemberg Professor Reinhold R. Geilsdörfer<br>
    Friedrichstraße 14<br>
    70174 Stuttgart<br><br>

    Telefon 0711 / 320 660-0<br>
    Telefax 0711 / 320 660-66<br><br>

    Haftungsausschluss:<br>
    Die Inhalte dieser Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Die Nutzung der Inhalte der Website erfolgt auf eigene Gefahr des Nutzers. Namentlich gekennzeichnete Beiträge geben die Meinung des jeweiligen Autors und nicht immer die Meinung des Anbieters wieder.<br>
  </ion-content>
</ion-view>
