<!-- Anzeige eines einzelnen Gesuchs des schwarzen Bretts -->
<ion-view view-title="{{item.title}}">
	<ion-view view-title="{{item.title}}">
		<ion-content class="has-header">
			<ion-list>
				<div class="card">

				<div class="item ">
					<h3 style="white-space:normal !important">{{item.title}}</h3>
					<div class="row">
						<div class="col-33">
						<p>Preis:</p>
						</div>
						<div class="col-67">
							<p align="right">{{item.totalPrice}}€</p>
						</div>
					</div>
					<div class="row">
						<div class="col-33">
						<p>Kategorie:</p>
						</div>
						<div class="col-67">
							<p align="right">{{item.category}}</p>
						</div>
						<div class="row">
							<div class="col-33">
							<p>Zustand:</p>
							</div>
							<div class="col-67">
								<p align="right">{{item.condition}}€</p>
							</div>
						</div>
						<h3>Kontakt:</h3>
							<div class="row">
								<div class="col-33">
								<p>Email:</p>
								</div>
								<div class="col-67">
									<p align="right">{{item.user}}</p>
								</div>
							</div>
							<div class="row" ng-if="item.phone">
								<div class="col-33">
								<p>Telefon:</p>
								</div>
								<div class="col-67">
									<p align="right">{{item.phone}}</p>
								</div>
							</div>
					</div>
				</div>

				<div class="item item-body">
					<h3>Beschreibung:</h3>
					<p>
						{{item.description}}
					</p>
				</div>
				<div class="item tabs  tabs-icon-only">
					<a class="tab-item" href="tel: {{item.phone}}" ng-if="item.phone">
						<i class="icon ion-ios-telephone"></i>
					</a>
					<a class="tab-item" href="mailto:{{item.user}}?Subject={{item.title}}">
						<i class="icon ion-ios-email"></i>
					</a>
				</div>
				</div>

				</div>
			</ion-list>
		</ion-content>
</ion-view>
