<!-- Anzeige eines Wohnungsmarkt Angebots -->
<ion-view view-title="{{Wohnungitem.title}}">
    <ion-content class="has-header">

        <div class="list card">

        <div class="item item-avatar">
            <h2>{{Wohnungitem.title}}</h2>
            <p>Preis: {{Wohnungitem.totalprice}}</p>
           <p>Type: {{Wohnungitem.type}}</p>
           <p>Stadt: {{Wohnungitem.city}}</p>
           <p>Größe: {{Wohnungitem.size}}</p>
            </p>
        </div>

        <div class="item item-body">
            <p>
                <img class="full-image" src="{{Wohnungitem.imgsrc}}">
                {{Wohnungitem.description}}
            </p>
        </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>
        </div>
    </ion-content>
</ion-view>
